<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BESPOKE ADMIN</title>
    <!-- plugins:css -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/public/admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
   
  </head>
  <style>
    /* Table styles */
    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid white;
      /* Set table border color to white */
    }
  
    th,
    td {
      padding: 8px;
      border: 1px solid white;
      /* Set cell border color to white */
      text-align: left;
      color: white;
      /* Set text color to white */
    }
  
    th {
      background-color: #000000;
    }
  
    /* Button styles */
    .btn-1,
    .btn-2,
    .btn-3,
    .btn-4,
    .moveaside {
      /* Added .moveaside to target Add Category button */
      padding: 6px 10px;
      margin: 4px;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      color: white;
      /* Set button text color to white */
    }
  
    .btn-1 {
      background-color: #007bff;
      /* Blue for Edit button */
    }
  
    .btn-2 {
      background-color: #dc3545;
     
      /* Red for Delete button */
    }
  
    #btn-3 {
      background-color: #00c32d;
      color: white;
      border: none;
      /* Green for List button */
    }
  
    #btn-4 {
      background-color: #cd0015;
      color: white;
      border: none;
      /* Red for Unlist button */
    }
  
    .moveaside {
      background-color: #28a745;
      /* Green for Add Category button */
      float: left;
      /* Move the button to the left */
      margin-right: 20px;
      /* Add margin to create space between the button and the heading */
    }
  
    h2 {
      text-align: right;
      /* Align the heading to the right */
    }
  </style>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="../../index.html"><img src="/public/images/logo.jpg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="/public/images/logo.jpg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="../../assets/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">BESPOKE</h5>
                  <span>Gold Member</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/dashboard">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="/admin/users" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Users</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/buttons.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/typography.html">Typography</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/products">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
              <span class="menu-title">Products</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/category">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Categories</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/orderlist">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">Orders</span>
            </a>
          </li>
           <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/couponlist">
            <span class="menu-icon">
              <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Coupons</span>
          </a>
        </li>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link"
              href="/admin/offerlist">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Offers</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link"
              href="/admin/sales">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Sales</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
   
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
         
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                 
                </ol>
              </nav>
            </div>
            <div class="row">
              <table class="table table-bordered table-contextual" id="cati">
                <a href="/admin/addcategory"><button class="moveaside">AddCategory</button></a>
                <h2>Categories</h2>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Offer</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (Data.length> 0 ) { %>
                    <% for (let i=0; i < Data.length; i++) { %>
                    <% if(Data[i].is_Deleted == false){ %>
                      <tr>
                        <td>
                          <%= Data[i].name %>
                        </td>
                        <td>
                          <%= Data[i].description %>
                        </td>
                        <td><a href="/admin/editcategory?id=<%= Data[i]._id %>" class="btn btn-sm font-sm rounded btn-edit">
                            <i class="material-icons md-edit"></i> Edit </a></td>
                        <td><a href="/admin/deletecategory?id=<%= Data[i]._id %>"
                            class="btn btn-sm font-sm btn-delete rounded"> <i class="material-icons md-delete_forever"></i>
                            Delete </a></td>
                            <td>
                              <% if(Data[i].offer[0]) { %>
                           
                                <button class="btn-2" style="color: #fff;" onclick="removeoffer('<%= Data[i].offer[0]._id %>','<%=Data[i]._id %>')"><a
                                   >Remove </a></button>
                                   <%}else{ %>
                                    <button type="button" style="background-color: #28a745;" class="btn-1" onclick="modalshow('<%= Data[i]._id %>')">
                                      Select
                                    </button>
                                     
                                        <% } %>
                                       
                            </td>
                        <td class="text-end">
                          <div class="dropdown">
                            <% if (Data[i].is_Listed==1) { %>
                              <a href="/admin/UnList?id=<%= Data[i]._id %>" 
                                class="btn btn-light rounded btn-sm font-sm" id="btn-4"> <i>UnList</i>
                              </a>
                              <% } else { %>
                                <a href="/admin/List?id=<%= Data[i]._id %>" 
                                  class="btn btn-light rounded btn-sm font-sm" id="btn-3"> <i>List</i>
                                </a>
                                <% } %>
                          </div>
                        </td>
                      </tr>
                      <% } %>
                      <% } %>
                        <% } else { %>
                          <tr>
                            <td colspan="5">Category not Found</td>
                          </tr>
                          <% } %>
                </tbody>
              </table>
      
      
            </nav>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">SELECT OFFER</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                 
                  <div class="modal-body">
                    <% if(offer.length > 0) { %>
                      <% offer.forEach((offer)=>{ %>
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title"><%=offer.name %></h5>
                        <p class="card-text" style="color: #fff;"><%=offer.discount%></p>
                        <p class="card-text" style="color: #fff;" ><%=offer.startingdate.toLocaleDateString('en-US', {
                          weekday: 'short',
                          month: 'short',
                          day: '2-digit',
                          year: 'numeric'
                        }).toLowerCase() %></p>
                        <p class="card-text" style="color: #fff;" ><%=offer.endingdate.toLocaleDateString('en-US', {
                          weekday: 'short',
                          month: 'short',
                          day: '2-digit',
                          year: 'numeric'
                        }).toLowerCase() %></p>

                        <a type="button" class="btn btn-primary apply-offer-btn " data-offerid="<%=offer._id%>">apply offer</a>
                      </div>
                    </div>
                <% }) %>
              <% }else{ %>
              <h5 style="color: #fff;">No Offer Found</h5>
              <%}%>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                  </div>
                </div>
              </div>
            </div>
                  
                    </div>
                  </div>
                </div>
              </div>
         
        
       
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
      
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    
    <script>
      function modalshow(catid){
       console.log("id may here",catid);
    $('#staticBackdrop').modal("show");
     

      const applyOfferBtn = document.querySelectorAll(".apply-offer-btn");
      applyOfferBtn.forEach(btn=>{
        btn.addEventListener('click',function(){
          const offerId = this.getAttribute('data-offerid');
         applyOffer(catid,offerId);
        })
      })
    }
      async function applyOffer(catid,offerId){
        $('#staticBackdrop').modal("hide");

        try {
        const response = await $.ajax({
          url:"/admin/applycategoryoffer",
          method:"POST",
          data:JSON.stringify({offerId:offerId,catid:catid}),
          contentType:"application/json",
          success:function(response){
            if(response.success){
         Swal.fire({
        icon: "success",
        text: "Offer Applied",
        confirmButtonColor: "#3085d6",
        confirmButtonText: "Ok",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.reload('/admin/category');
        }
      });
    }
            
          },
          error: function(xhr, status, error) {
        Swal.fire({
        icon: "Error",
        text: "error occured try again later",
        confirmButtonColor: "#3085d6",
        confirmButtonText: "Ok",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.reload('/admin/category');
        }
      });
    }
        })
        } catch (error) {
          console.log(error);
        }
      }

    </script>
    <script>
      function removeoffer(id,catid){
         $.ajax({
          url:"/admin/removecategoryoffer",
          method:"DELETE",
          contentType:"application/json",
          data:JSON.stringify({offerId:id,catid:catid}),
          success:function(response){
            if(response.success){
              Swal.fire({
        icon: "success",
        text: "Offer Removed",
        confirmButtonColor: "#3085d6",
        confirmButtonText: "Ok",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.reload('/admin/category');
        }
      });
            }
          },
          error: function(xhr, status, error) {
        Swal.fire({
        icon: "Error",
        text: "error occured try again later",
        confirmButtonColor: "#3085d6",
        confirmButtonText: "Ok",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.reload('/admin/category');
        }
      });
    }
         })
      }
    </script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>