<%- include("../layouts/userpartials/header.ejs") %>


<body>
  <main>
    <div class="mb-4 pb-4"></div>
    <section class="my-account container">
      
  <div class="mb-5 pb-xl-5"></div>
      <h2 class="page-title">Addresses</h2>
      <div class="row">
        <div class="col-lg-3">
          <ul class="account-nav">
            <li><a href="./account_dashboard.html" class="menu-link menu-link_us-s">Dashboard</a></li>
            <li><a href="./account_orders.html" class="menu-link menu-link_us-s">Orders</a></li>
            <li><a href="./account_edit_address.html" class="menu-link menu-link_us-s menu-link_active">Addresses</a>
            </li>
            <li><a href="./account_edit.html" class="menu-link menu-link_us-s">Account Details</a></li>
            <li><a href="./account_wishlist.html" class="menu-link menu-link_us-s">Wishlist</a></li>
            <li><a href="./login_register.html" class="menu-link menu-link_us-s">Logout</a></li>
          </ul>
        </div>
        <div class="col-lg-9">
         <div class="my-account__address-item">
          <div class="my-account__address-item__title">
            <h5></h5>
            <a href="/addaddress">Add New Address</a>
          </div>
          <div class="page-content my-account__address">
            <p class="notice">The following addresses will be used on the checkout page by default.</p>
            <div class="my-account__address-list">
              <%if(useraddress&&useraddress.address.length > 0){%>
                <% useraddress.address.forEach((address,index)=> { %>
              <div class="my-account__address-item">
                <div class="my-account__address-item__title">
              
                  <h5>Billing Address <%= index+1 %></h5>
                  <a href="#">Edit</a>
                  <a href="#">Delete</a>
                </div>
                <div class="my-account__address-item__detail">
                

                  <p><%= address.fname %> <% address.lname %></p>
                  <p><%= address.address %></p>
                  <p><%= address.city %></p>
                  <p><%= address.pin %></p>
                 
                  <p><%= address.email %></p>
                  <p><%= address.mobile %></p>
                  <br>
                </div>
                <%})%>
                <% }else{%>
                  <h4>Address Not Found</h4>
                  <% } %>
              </div>
          
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div class="mb-5 pb-xl-5"></div>

  <!-- Footer Type 1 -->

  <!-- End Footer Type 1 -->

  <!-- Mobile Fixed Footer -->


  <!-- Customer Login Form -->
 
  <!-- Go To Top -->
  <div id="scrollTop" class="visually-hidden end-0"></div>

  <!-- Page Overlay -->
  <div class="page-overlay"></div><!-- /.page-overlay -->

  <!-- External JavaScripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/bootstrap-slider.min.js"></script>

  <script src="js/swiper.min.js"></script>
  <script src="js/countdown.js"></script>
  <script src="js/jquery.fancybox.js"></script>

  <!-- Footer Scripts -->
  <script src="js/theme.js"></script>


</body>

<%- include("../layouts/userpartials/footer.ejs") %>