<%- include("../layouts/userpartials/header.ejs") %>

<body>
 
  <main>
    <div class="mb-4 pb-4"></div>
    <section class="shop-checkout container">
      <div class="mb-4 pb-4"></div>
      <h2 class="page-title">Shipping and Checkout</h2>
      <div class="checkout-steps">
      
        <a href="/checkout" class="checkout-steps__item active">
          <span class="checkout-steps__item-number">02</span>
          <span class="checkout-steps__item-title">
            <span>Shipping and Checkout</span>
            <em>Checkout Your Items List</em>
          </span>
        </a>
      
      </div>
      <form name="checkout-form" action="./shop_order_complete.html">
        <div class="checkout-form">
          <div class="billing-info__wrapper">
            <h4>BILLING DETAILS</h4>
            <% if(Array.isArray(addresses) && addresses.length > 0) { %>
              <% addresses.forEach((value,index)=>{ %>

                <%if(value && typeof value === 'object') { %>
                  <div class="col-md-4">
                    <div class="address">
                     <h5>Shipping Address <%=index+1 %></h5>
                      <p><%= value.fname %> <%= value.lname %><br>
                      Default<br>
                      <%= value.address%><br>
                    <%= value.city%><br>
                     <%=value.pin %><br>
                     <%= value.email %><br>
                      Phone :<%= value.mobile%></p>
                      <input class="form-check-input form-check-input_fill" type="checkbox" value="" id="ship_different_address">
                  <label class="form-check-label" for="ship_different_address">SELECT ADDRESS</label>
                  </div>
                  </div>
                  <br>
                  <div class="my-account__address-item__titl">
                    <a href="#">change address?</a>
                  </div>
            <% }else{ %>
              <h3>ioio</h3>
              <% } %>
            <% }) %>
            <% }else{ %>
              <h4>Address Not Found</h4>
              <% } %>
            <div class="col-md-12">
              
            </div>
          </div>
          <div class="checkout__totals-wrapper">
            <div class="sticky-content">
              <div class="checkout__totals">
                <h3>Your Order</h3>
                <table class="checkout-cart-items">
                  <thead>
                    <tr>
                      <th>PRODUCT</th>
                      <th>SUBTOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Zessi Dresses x 2
                      </td>
                      <td>
                        $32.50
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Kirby T-Shirt
                      </td>
                      <td>
                        $29.90
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="checkout-totals">
                  <tbody>
                    <tr>
                      <th>SUBTOTAL</th>
                      <td>$62.40</td>
                    </tr>
                    <tr>
                      <th>SHIPPING</th>
                      <td>Free shipping</td>
                    </tr>
                    <tr>
                      <th>VAT</th>
                      <td>$19</td>
                    </tr>
                    <tr>
                      <th>TOTAL</th>
                      <td>$81.40</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="checkout__payment-methods">
                <div class="form-check">
                  <input class="form-check-input form-check-input_fill" type="radio" name="checkout_payment_method" id="checkout_payment_method_4">
                  <label class="form-check-label" for="checkout_payment_method_4">
                    Paypal
                    <span class="option-detail d-block">
                      Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida nec dui. Aenean aliquam varius ipsum, non ultricies tellus sodales eu. Donec dignissim viverra nunc, ut aliquet magna posuere eget.
                    </span>
                  </label>
                </div>
                
                <div class="form-check">
                  <input class="form-check-input form-check-input_fill" type="radio" name="checkout_payment_method" id="checkout_payment_method_3">
                  <label class="form-check-label" for="checkout_payment_method_3">
                    Cash on delivery
                    <span class="option-detail d-block">
                      Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida nec dui. Aenean aliquam varius ipsum, non ultricies tellus sodales eu. Donec dignissim viverra nunc, ut aliquet magna posuere eget.
                    </span>
                  </label>
                </div>
                
                <div class="policy-text">
                  Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="./terms.html" target="_blank">privacy policy</a>.
                </div>
              </div>
              <button class="btn btn-primary btn-checkout">PLACE ORDER</button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </main>

  <div class="mb-5 pb-xl-5"></div>
  
  <!-- Footer Type 1 -->


  <!-- Go To Top -->
  <div id="scrollTop" class="visually-hidden end-0"></div>

  <!-- Page Overlay -->
  <div class="page-overlay"></div><!-- /.page-overlay -->

  <!-- External JavaScripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/bootstrap-slider.min.js"></script>
  
  <script src="js/swiper.min.js"></script>
  <script src="js/countdown.js"></script>
  <script src="js/jquery.fancybox.js"></script>

  <!-- Footer Scripts -->
  <script src="js/theme.js"></script>



</body>

<%- include("../layouts/userpartials/footer.ejs") %>
