<%- include("../layouts/userpartials/header.ejs") %>

<main>
    <div class="mb-4 pb-4"></div>
    <section class="my-account container">
      <h2 class="page-title">Orders</h2>
      <div class="row">
     
        <div class="col-lg-3">
          <ul class="account-nav">
            <li><a href="/dashboard" class="menu-link menu-link_us-s">Dashboard</a></li>
            <li><a href="/orders" class="menu-link menu-link_us-s menu-link_active">Orders</a></li>
            <li><a href="/address" class="menu-link menu-link_us-s ">Addresses</a>
            </li>
            <li><a href="/profile" class="menu-link menu-link_us-s">Account Details</a></li>
            <li><a href="./account_wishlist.html" class="menu-link menu-link_us-s">Wishlist</a></li>
            <li><a href="/logout" class="menu-link menu-link_us-s">Logout</a></li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="page-content my-account__orders-list">
            <% if(Orders && Orders.length > 0  ){ %>
            <table class="orders-table">
              <thead>
                <tr>
                  <th>No</th>
                  <th>OrderID</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Total</th>
                  <th>PaymentMethod</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
             
                  <% Orders.forEach((order,index)=>{ %>
                    <tr>
                    <td><%= index + 1 %></td> 
                  
                    
                        <td><%= order.id %></td>
                        <% if(order.Date) { %>
                          <td><%= order.Date.toISOString().substring(0, 10) %></td>
                          <% }else{ %>
                            <td>N/A</td>
                            <%} %>
                        <td><%= order.status %></td>
                        <td>$<%= order.subtotal %></td>
                        <td>  <%= order.paymentMethod %></td>
                        <td>
                          <% if(order.status == 'placed') { %>
                          <button class="btn btn-primary">cancel</button>
                         <a href="/view?id=<%=order._id %>"><button  class="btin btn-primar">view order</button> </a> 
                           
                           
                            <% } %>
                            <% if(order.status == "delivered") { %>
                            <button class="btn btn-primary">return</button>
                              <% } %>
                        </td>
                      </tr>
                      <% }) %>
                      <% }else { %>
                        <h3>ORDERS NOT FOUND</h3>
                        <% } %>    
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </main>
<style>
   .btn-primar {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
     }

    .my-account .orders-table tbody td .btin {
      width: 100%;
        height: 3.125rem;
        font-size: 0.875rem; }
</style>

  <%- include("../layouts/userpartials/footer.ejs") %>