<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BESPOKE ADMIN</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/public/admin/css/style.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
<link rel="stylesheet" href="/public/admin/css/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>


    <!-- End layout styles -->
    
  </head>

    <style>
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px;
    border: 1px solid #505050;
    text-align: left;
  }

  th {
    background-color: #000000;
    color: rgb(157, 157, 157);
  }

  /* Button styles */
  .btn-1,
  .btn-2,
  .btn-3,
  .btn-4 {
    padding: 2px 8px;
    margin: 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .btn-1 a,
  .btn-2 a {
    color: #fff;
    text-decoration: none;
  }

  .btn-1 {
    background-color: #2f971a;
    /* Blue for Edit button */
  }

  .btn-2 {
    background-color: #dc3545;
    /* Red for Delete button */
  }

  .btn-3 {
    background-color: #28a745;
    /* Green for List button */
  }

  .btn-4 {
    background-color: #dc3545;
    /* Red for Unlist button */
  }

  .btn-7 {
    padding: 3px 6px;
    margin-right: 20px;
    /* Add margin to create space between the button and the heading */
    background-color: #28a745;
    /* Green background color */
    color: white;
    /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-7:hover {
    background-color: #076e1f;
    /* Darker green on hover */
  }


  h2 {
    display: inline-block;
    /* Keep the heading and button on the same line */
    margin-bottom: 10px;
    /* Add some space below the heading */
    margin-right: 20px;
    /* Add some space between the heading and the table */
  }

  /* Table styles */
  table {
    margin-top: 20px;
    /* Add some space between the button and the table */
  }

  </style>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">

        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">BESPOKE</h5>
                  <span>Gold Member</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/dashboard">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="/admin/users" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Users</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/buttons.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/typography.html">Typography</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/products">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
              <span class="menu-title">Products</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/category">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Categories</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/orderlist">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">Orders</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/couponlist">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
              <span class="menu-title">Coupons</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/offerlist">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
              <span class="menu-title">Offers</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link"
              href="/admin/sales">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Sales</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
     
        <!-- partial -->
 <div class="main-panel">
   <div class="content-wrapper">
    <div class="page-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        </ol>
      </nav>
    </div>
    <h2>SALES REPORT</h2>
    <div class="row">
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" id="downloadDropdown" data-toggle="dropdown">DOWNLOAD</button>
        <div class="dropdown-menu" aria-labelledby="downloadDropdown">
            <a class="dropdown-item" href="#" onclick="downloadPDF('printThisDiv','brspokesales.pdf');" style="color: green; font-weight: 600;">Download as PDF</a>
            <a class="dropdown-item" href="#" onclick="downloadExcel('printThisDiv')" style="color: green; font-weight: 600;">Download as Excel</a>
        </div>
    </div>
      <form method="POST">
        <div class="startDate">
          Starting Date: &nbsp; <input type="date" name="fromdate" id="dat" style="background-color: #fff; border: none ; color: #000000; padding-top: 3px; border-color: white"> &nbsp; Ending Date: <input type="date" name="todate" id="date" style="background-color: #fff; border: none ; color: #000000; padding-top: 3px; border-color: white"> &nbsp;
          <select name="range">
            <option disabled selected value="">select</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
            <option value="custom">Custom</option>
          </select>
        </div>
        <button type="submit">Filter</button>
      </form>
      
        <% if(orderData && orderData.length > 0) { %>
          <div id="printThisDiv">
            <br>
            <div>
              <table>
                <th style="color: white;"> 
                  <p><span class="fw-bold ">total sales count:</span><%=overallData[0].totalSalesCount%></p>
                  <p><span class="fw-bold">Total Sales Amount:</span> ₹<%= overallData[0].totalOrderAmount %></p>  
                      <p><span class="fw-bold ">total discount amount:</span>₹<%= overallData[0].totalDiscount %></p>
                </th>
              </table>
              
        
          </div>
            <table id="datatable">
              <thead>
                <tr>
                  <th>OrderID</th>
                  <th>Date</th>
                  <th>Product-Details</th>
                  <th>quantity</th>
                  <th>price</th>
                  <th>cpn-dis</th>
                  <th>Payment-Method</th>
                  <th>Status</th>
                  <th>Total Amount</th>
                  <th>Customer Name</th>
                </tr>
              </thead>
          <% orderData.forEach((order) => { %>
            <% order.product.forEach((item) => { %>
              <tr>
                <td><%= order._id.toString().substring(order._id.toString().length - 6) %></td>
                <td><%= order.Date.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' }).toLowerCase() %></td>
                <td><%= item.name %></td>
                <td><%= item.quantity %></td>
                <td><%= item.price %></td>
                <td><%= order.discount %></td>
                <td><%= order.paymentMethod %></td>
                <td><%= item.status %></td>
                <td>₹<%= order.subtotal-order.discount %></td>
                <td><%= order.user.name %></td>
              </tr>
            <% }); %>
          <% }); %>
        <% } else { %>
          <tr>
            <td colspan="5">No orders found</td>
          </tr>
        <% } %>
      </table>
    
    </div>
    </div>
    </div>
</div>

  </div>
</div>

              </div>
             
            </div>
          </div>

   
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
        
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script>
     $(document).ready(function() {
    $('datatable').DataTable({
        // DataTable options go here
    });
});

      </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>



<script>
  function generateFileName(baseName) {
      const now = new Date();
      const year = now.getFullYear();
      const month = String(now.getMonth() + 1).padStart(2, '0');
      const day = String(now.getDate()).padStart(2, '0');
      const hours = String(now.getHours()).padStart(2, '0');
      const minutes = String(now.getMinutes()).padStart(2, '0');
      const seconds = String(now.getSeconds()).padStart(2, '0');
      
     
      const timestamp = `${year}${month}${day}_${hours}${minutes}${seconds}`;  
      return `${baseName}_${timestamp}`;
  }
  function downloadPDF(divName, fileName) {  
    const { jsPDF } = window.jspdf;
    const element = document.getElementById(divName);
    const doc = new jsPDF();
    const tdElements = element.getElementsByTagName('td');
    for (let i = 0; i < tdElements.length; i++) {
        tdElements[i].style.color = 'black';
    }
    const savePDF = () => {
        doc.save(fileName);
    };
    doc.html(element, {
        callback: savePDF,
        x: 10, 
        y: 10, 
        width: doc.internal.pageSize.getWidth() - 20, 
        windowWidth: element.offsetWidth,
    });
}







  function downloadExcel(divName) {
      const table = document.getElementById(divName);
      const rows = table.getElementsByTagName('tr');
      let csvContent = "data:text/csv;charset=utf-8,";
      
      for (const row of rows) {
          const cells = row.getElementsByTagName('td');
          const cellValues = [];
          for (const cell of cells) {
              cellValues.push(cell.textContent);
          }
          csvContent += cellValues.join(',') + '\n';
      }

      const encodedUri = encodeURI(csvContent);
      const link = document.createElement('a');
      link.setAttribute('href', encodedUri);

      // Set the file name with the timestamp
      const fileName = generateFileName('BESPOKE_ADMIN');
      link.setAttribute('download', `${fileName}.csv`);
      
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
  }
</script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Bootstrap Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>    

   
  </body>
</html>