<%- include("../layouts/userpartials/header.ejs") %>
<style>
      .active {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
</style>
<main>
  <div class="mb-4 pb-4"></div>
  <section class="my-account container">
      <div class="mb-4 pb-4"></div>
      <h2 class="page-title">Orders</h2>
      <div class="row" id="reload">
          <div class="col-lg-3">
              <ul class="account-nav">
                  <li><a href="/dashboard" class="menu-link menu-link_us-s">Dashboard</a></li>
                  <li><a href="/orders" class="menu-link menu-link_us-s menu-link_active">Orders</a></li>
                  <li><a href="/address" class="menu-link menu-link_us-s ">Addresses</a>
                  </li>
                  <li><a href="/profile" class="menu-link menu-link_us-s">Account Details</a></li>
                  <li><a href="./account_wishlist.html" class="menu-link menu-link_us-s">Wishlist</a></li>
                  <li><a href="/logout" class="menu-link menu-link_us-s">Logout</a></li>
              </ul>
          </div>
          <div class="col-lg-9">
              <div class="page-content my-account__orders-list">
                  <% if(Orders && Orders.length > 0 ) { %>
                  <table class="orders-table">
                      <thead>
                          <tr>
                              <th>No</th>
                              <th>OrderID</th>
                              <th>Date</th>
                              <th>Status</th>
                              <th>Total</th>
                              <th>PaymentMethod</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% Orders.forEach((order, index) => { %>
                          <tr>
                              <td><%= startIndex + index + 1 %></td>  <!-- Adjusted index calculation -->
                              <td>#<%= order.id.substring(order.id.length - 6) %></td>
                              <% if (order.Date) { %>
                              <td><%= order.Date.toISOString().substring(0, 10) %></td>
                              <% } else { %>
                              <td>N/A</td>
                              <% } %>
                              <% if (order.status === 'pending') { %>
                              <td>
                                  <button onclick="repay('<%= order._id %>', '<%= order.subtotal %>')" style="color: rgb(71, 150, 7); border: none; background-color: rgb(0, 175, 0); color: white; border-radius: 9px;">pay</button>
                              </td>
                              <% } else { %>
                              <td><%= order.status %></td>
                              <% } %>
                              <td>$<%= order.subtotal %></td>
                              <% if (order.status === 'pending') { %>
                              <td style="color: red;">Failed</td>
                              <% } else { %>
                              <td><%= order.paymentMethod %></td>
                              <% } %>
                              <td>
                                  
                                    <a href="/view?id=<%=order._id %>"><button style="width: 141px;" class="btin btn-primar">View Order</button></a>
                          
                              </td>
                          </tr>
                      <% }) %>
                      
                          <% } else { %>
                          <tr>
                              <td colspan="7">ORDERS NOT FOUND</td>
                          </tr>
                          <% } %>
                      </tbody>
                  </table>

                  <nav class="pagination-container" style="display: flex; justify-content: center; width: 100%;">
                    <ul class="pagination">
                        <% if (currentPage > 1) { %>
                            <li class="page-item">
                                <a href="?page=<%= currentPage - 1 %>" class="page-link">Prev</a>
                            </li>
                        <% } %>
                
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                <a href="?page=<%= i %>" class="page-link"><%= i %></a>
                            </li>
                        <% } %>
                
                        <% if (currentPage < totalPages) { %>
                            <li class="page-item">
                                <a href="?page=<%= currentPage + 1 %>" class="page-link">Next</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
                
                
              </div>
              
          </div>
       
    </div>
</div>
      </div>
      <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button> -->

<!-- Modal -->


  </section>
</main>

<style>
   .btn-primar {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
     }

    .my-account .orders-table tbody td .btin {
      width: 100%;
        height: 3.125rem;
        font-size: 0.875rem; }
        .col-lg-9-d {
      flex: 0 0 auto;
      width: 100%; }
</style>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  function repay(orderId,totalamount){
     console.log("orderid, and , subtotal getting",orderId,totalamount)
    $.ajax({
      url:"/repay",
      method:"POST",
      data:{
        orderId:orderId,
        totalamount:totalamount
      },
      success:(response)=>{
        if(response.success){
          razorpay(response.orders);
        }
      }
    })
  }
  function razorpay(orders) {
    console.log("checkpoint:1");
    var options = {
        "key": "rzp_test_5mTjMS04uhfKer",
        "amount": orders.amount,
        "currency": "INR",
        "name": "BESPOKESHOPPING",
        "description": "Ecommerce Transaction",
        "image": "/public/images/logo.jpg",
        "order_id": orders.id,
        "handler": function (response) {
            verifypayment(response, orders);
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#000000"
        }
    };
    console.log("checkpoint 2")
    var rzp1 = new Razorpay(options);
    rzp1.open();
}
function verifypayment(Payment,orders){
  $.ajax({
    url:"/verifypayment",
    method:'POST',
    data:{
      Payment,
      orders,
    },
     success: function (response) {
            console.log("ajax verify payment response", response);
            if (response.success) {
              let orderId = response.orderId
              console.log("the order id may her for the razo pay and ::", orderId)
              window.location.href = `/ordercomplete?id=${orderId}`
            } else if (response.onlineSuccess) {
              Swal.fire({
                icon: 'error',
                title: 'Payment has done',
                showConfirmButton: false,
                timer: 1500
              })
            }
          }
        });
      
      }


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<script src="/public/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Include jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Include Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>






  <%- include("../layouts/userpartials/footer.ejs") %>